<ng-container>
  <mat-toolbar class="example-header" color="primary">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Hilda Isnaini</span>
    <span class="spacer"></span>
    <small>admin</small>
    <button mat-button (click)="logout()">Logout</button>
  </mat-toolbar>

  <mat-sidenav-container class="admin-container">
    <mat-sidenav #sidenav mode="side" [position]="'start'" opened class="sidenav-left" [fixedInViewport]="true"
      [fixedTopGap]="60" [fixedBottomGap]="0">

      <mat-nav-list>
        <mat-list-item routerLink="/admin/dashboard">
          <mat-icon matListIcon>dashboard</mat-icon>
          <h3 matLine>Dashboard</h3>
        </mat-list-item>
        <mat-list-item routerLink="/admin/product">
          <mat-icon matListIcon>camera_alt</mat-icon>
          <h3 matLine>Edit Image</h3>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav #sidenav mode="side" [position]="'end'" class="example-sidenav" [fixedInViewport]="true"
      [fixedTopGap]="60" [fixedBottomGap]="0">

    </mat-sidenav>
    <mat-sidenav-content style="padding: 20px; background-color: #ccc;">

      <router-outlet></router-outlet>

    </mat-sidenav-content>

  </mat-sidenav-container>
</ng-container>
